<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminMapper">

	<resultMap id="MemberResultSet" type="Member">
		<id property="mno" column="m_no"/>
		<result property="loginType" column="loginType"/>
		<result property="snsId" column="snsid"/>
		<result property="email" column="email"/>
		<result property="pass" column="pass"/>
		<result property="nickName" column="nickName"/>
		<result property="profile" column="profile"/>
		<result property="location" column="location"/>
		<result property="profileImg" column="profile_Img"/>
		<result property="profilePath" column="profile_Path"/>
		<result property="enrollDate" column="enroll_Date"/>
		<result property="updateDate" column="update_Date"/>
		<result property="deleteDate" column="delete_Date"/>
		<result property="isDelete" column="isDelete"/>
	</resultMap>
	
	<resultMap id="DeclareResultSet" type="Declare">
		<id property="dno" column="d_no"/>
		<result property="mno" column="m_no"/>
		<result property="email" column="email"/>
		<result property="pno" column="p_no"/>
		<result property="category" column="category"/>
		<result property="content" column="content"/>
		<result property="enrollDate" column="enroll_Date"/>
		<result property="isCheck" column="isCheck"/>
	</resultMap>
	
	<resultMap id="postingDeclareResultSet" type="Declare">
		<id property="dno" column="d_no"/>
		<result property="mno" column="m_no"/>
		<result property="email" column="email"/>
		<result property="pno" column="p_no"/>
		<result property="imgName" column="original_img"/>
		<result property="category" column="category"/>
		<result property="content" column="content"/>
		<result property="enrollDate" column="enroll_Date"/>
		<result property="isCheck" column="isCheck"/>
		<result property="declareCount" column="declare_count"/>
	</resultMap>

	<select id="getMemberListCount" resultType="_int">
		select count(*)
		from member
	</select>

	<select id="selectMemberList" resultMap="MemberResultSet">
		select *
		from member
		order by delete_date desc ,m_no desc
	</select>
	
	<select id="getDeclareListCount" resultType="_int">
		select count(*)
		from (select *
		from p_declare
		union
		select *
		from b_declare)
	</select>
	
	<select id="selectPostingDeclareList" resultMap="postingDeclareResultSet">
		select pd.*,m.email,p.original_img,p.declare_count
		from p_declare pd
		join member m on(m.m_no=pd.m_no)
		join posting p on(p.p_no=pd.p_no)
	</select>

	<!-- <select id="selectAllDeclareList" resultMap="">
		select p.*,m.email 
		from p_declare p
		join member m on(m.m_no=p.m_no)
		union
		select b.*,m.email
		from b_declare b
		join member m on(m.m_no=b.m_no)
	</select>
 -->
</mapper>