<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminMapper">

	<resultMap id="MemberResultSet" type="Member">
		<id property="mno" column="m_no"/>
		<result property="loginType" column="loginType"/>
		<result property="snsId" column="snsid"/>
		<result property="email" column="email"/>
		<result property="pass" column="pass"/>
		<result property="nickName" column="nickName"/>
		<result property="profile" column="profile"/>
		<result property="location" column="location"/>
		<result property="profileImg" column="profile_Img"/>
		<result property="profilePath" column="profile_Path"/>
		<result property="enrollDate" column="enroll_Date"/>
		<result property="updateDate" column="update_Date"/>
		<result property="deleteDate" column="delete_Date"/>
		<result property="isDelete" column="isDelete"/>
	</resultMap>
	
	<resultMap id="DeclareResultSet" type="Declare">
		<id property="dno" column="d_no"/>
		<result property="mno" column="m_no"/>
		<result property="bno" column="b_no"/>
		<result property="category" column="category"/>
		<result property="content" column="content"/>
		<result property="enrollDate" column="enroll_Date"/>
		<result property="isCheck" column="isCheck"/>
		<result property="type" column="type"/>
		<result property="email" column="email"/>
		<result property="bname" column="bname"/>
	</resultMap>
	
	<select id="getMemberListCount" resultType="_int">
		select count(*)
		from member
	</select>

	<select id="selectMemberList" resultMap="MemberResultSet">
		select *
		from member
		order by delete_date desc ,m_no desc
	</select>
	
	<select id="getDeclareListCount" resultType="_int">
		select count(*)
		from declare
	</select>
	
	<select id="selectDeclareList" resultMap="DeclareResultSet">
		select * from
		(select d.*,m.email,p.original_img bname
		from declare d
		join member m on(m.m_no=d.m_no)
		join posting p on(p.p_no=d.b_no)
		where type=1) t1
		union
		select * from
		(select d.*,m.email,b.title
		from declare d
		join member m on(m.m_no=d.m_no)
		join board b on(b.b_no=d.b_no)
		where type=2) t2
	</select>

	
</mapper>