<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminMapper">

	<resultMap id="MemberResultSet" type="Member">
		<id property="mno" column="m_no"/>
		<result property="loginType" column="loginType"/>
		<result property="snsId" column="snsid"/>
		<result property="email" column="email"/>
		<result property="pass" column="pass"/>
		<result property="nickName" column="nickName"/>
		<result property="profile" column="profile"/>
		<result property="location" column="location"/>
		<result property="originalImg" column="original_Img"/>
		<result property="renameImg" column="rename_Img"/>
		<result property="profilePath" column="profile_Path"/>
		<result property="enrollDate" column="enroll_Date"/>
		<result property="updateDate" column="update_Date"/>
		<result property="deleteDate" column="delete_Date"/>
		<result property="isDelete" column="isDelete"/>
	</resultMap>
	
	<resultMap id="DeclareResultSet" type="Declare">
		<id property="dno" column="d_no"/>
		<result property="mno" column="m_no"/>
		<result property="bno" column="b_no"/>
		<result property="category" column="category"/>
		<result property="content" column="content"/>
		<result property="enrollDate" column="enroll_Date"/>
		<result property="isCheck" column="isCheck"/>
		<result property="type" column="type"/>
		<result property="email" column="email"/>
		<result property="bname" column="bname"/>
		<result property="writer" column="writer"/>
	</resultMap>
	
	<resultMap id="AdResultSet" type="Ad">
		<id property="adno" column="ad_no"/>
		<result property="mno" column="m_no"/>
		<result property="payno" column="pay_no"/>
		<result property="name" column="name"/>
		<result property="url" column="url"/>
		<result property="originalImg" column="original_img"/>
		<result property="renameImg" column="rename_img"/>
		<result property="imgPath" column="img_path"/>
		<result property="enrollDate" column="enroll_date"/>
		<result property="startDate" column="start_date"/>
		<result property="endDate" column="end_date"/>
		<result property="status" column="status"/>
		<result property="email" column="email"/>
	</resultMap>
	
	<select id="selectNewBcount" resultType="_int">
		select sum(c) from
		(select count(*) c 
		from posting
		where to_char(enroll_date) = to_char(sysdate,'yy/MM/dd')
		union 
		select count(*) c
		from board
		where to_char(enroll_date) = to_char(sysdate,'yy/MM/dd')
		union
		select count(*) c
		from fashion_board
		where to_char(enroll_date) = to_char(sysdate,'yy/MM/dd'))
	</select>
	
	<select id="selectNewMember" resultMap="MemberResultSet">
		select *
		from member
		where to_char(enroll_date) = to_char(sysdate,'yy/MM/dd')
	</select>
	
	<select id="selectDeclareCount" resultType="_int">
		select count(*)
		from declare
		where ischeck='1'
	</select>
	
	<select id="selectStartAd" resultMap="AdResultSet">
		select *
		from ad
		where status='2'
	</select>
	
	<select id="getMemberListCount" resultType="_int">
		select count(*)
		from member
	</select>

	<select id="selectMemberList" resultMap="MemberResultSet">
        select *
		from member
		order by delete_date desc ,enroll_date desc,m_no desc
	</select>
	
	<update id="deleteMember" parameterType="java.util.ArrayList">
		update Member
		set isdelete='Y', delete_date=sysdate
		where m_no in 
		<if test="list.size != 0">
		<foreach item="item" collection="list" index="index" separator="," open="(" close=")">
		#{item}
	    </foreach>
		</if>
	</update>
	
	<select id="getDeclareListCount" resultType="_int" parameterType="hashMap">
		select count(*)
		from declare
		<if test="posting != null">
			where type='1'
		</if>
		<if test="free != null">
			where type='2'
		</if>
	</select>
	
	<select id="selectDeclareList" resultMap="DeclareResultSet" parameterType="hashMap">
      select t4.* from
      (select t3.* from
      (select * from
      (select d.*,m.email, p.writer, p.bname
      from declare d
      join member m on(m.m_no=d.m_no)
      join (select posting.p_no, member.email writer,posting.rename_img bname from posting
        join member using(m_no)) p on(p.p_no=d.b_no)
      where type=1) t1
      union
      select * from
      (select d.*,m.email,b.writer, b.title 
      from declare d
      join member m on(m.m_no=d.m_no)
      join (select board.b_no, member.email writer,board.title title from board 
        join member using(m_no)) b on(b.b_no=d.b_no)
      where type=2) t2)
       t3
        <if test="posting != null">
			where type='1'
		</if>
		<if test="free != null">
			where type='2'
		</if>
        order by ischeck, enroll_date desc) t4
	</select>
	
	<update id="deleteDeclareBoard" parameterType="java.util.ArrayList">
		update declare
		set ischeck='3'
		where d_no in 
		<if test="list.size != 0">
		<foreach item="item" collection="list" index="index" separator="," open="(" close=")">
		#{item}
	    </foreach>
		</if>
	</update>
	
	<select id="getAdListCount" resultType="_int">
		select count(*)
		from ad
	</select>

	<select id="selectAdList" resultMap="AdResultSet">
		select t1.* from
		(select ad.*,m.email
		from ad
		join pay p on(p.pay_no=ad.pay_no)
		join member m on(m.m_no=ad.m_no)
		order by ad.status, ad.ad_no desc, ad.enroll_date )t1
	</select>
	
	<select id="selectAdNewList" resultMap="AdResultSet">
		select *
		from ad
		where status='1'
	</select>
	
	<insert id="insertPay">
		insert into pay
		values(seq_pay.nextval,#{mno},'1000',sysdate,default)
	</insert>
	
	<insert id="insertAd">
		insert into ad
		values(seq_ad.nextval,#{mno},seq_pay.currval,#{name},#{url},#{originalImg},#{renameImg},'/resources/upload/advertisment/',sysdate,null,null,default)
	</insert>
	
	<update id="updateStartAd">
		update ad
		set status='2'
		where ad_no=#{adno}
	</update>
	
	<!-- 
	<update>
		update ad
set status='3'
where status='2'
	</update>
	adno넘어오는거 빼고 if문으로
	 -->
</mapper>