<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">

<resultMap type="Board" id="boardResultSet">
		<id property="bno" column="b_no"/>
		
		<result property="mno" column="m_no"/>
		<result property="title" column="title"/>
		<result property="content" column="content"/>
		<result property="count" column="count"/>
		<result property="enrollDate" column="enroll_date"/>
		<result property="updateDate" column="update_date"/>
		<result property="isDelete" column="isdelete"/>
		<result property="likeCount" column="like_count"/>
		<result property="imagelIST" column="image_List"/>	<!-- 컬럼별칭 설정함-->
		<result column="rename_img" property="renameImg"/>
	</resultMap>

<resultMap type="FashionBoard" id="fashionBoardResultSet">
	<id property="fbno" column="fb_no"/>
	
	<result property="mno" column="m_no"/>
	<result property="title" column="title"/>
	<result property="content" column="content"/>
	<result property="count" column="count"/>
	<result property="enrollDate" column="enroll_date"/>
	<result property="updateDate" column="update_date"/>
	<result property="isDelete" column="isdelete"/>
</resultMap>

<resultMap type="BoardReply" id="BoardReplyResultSet">
	<id property="brno" column="br_no"/>
	
	<result property="bno" column="b_no"/>
	<result property="content" column="content"/>
	<result property="enrollDate" column="enroll_date"/>
	<result property="isDelete" column="isdelete"/>
</resultMap>

<!-- <resultMap type="lick" id=""></resultMap> -->

<select id="selectList" resultMap="boardResultSet">
	select *
	from board
	where isdelete='N'
	order by b_no desc
</select>

<select id="fashionSelectList" resultMap="fashionBoardResultSet">
	select * 
	from fashion_board 
	where isdelete='N'
	order by fb_no desc
</select>

<select id="selectBoard" resultMap="boardResultSet">
	select b.*, m.rename_img 
	from board b
	join member m on(m.m_no = b.m_no)
	where b_no=#{bno}
</select>

<select id="getListCount" resultType="_int">
	select count(*)
	from board
	where isdelete='N'
</select>

<insert id="insertBoard">
	insert into board 
	values(seq_board.nextval, #{mno} , #{title} , #{content} , default , sysdate, sysdate, default , default)
</insert>

<update id="updateCount">
	update board
	set count = count+1
	where b_no = #{bno} 
</update>

<update id="deleteBoard"> 
update board 
set isdelete='Y' where b_no=#{bno} 
</update>

<update id="updateBoard"> 
update board 
set title=#{title}, content=#{content} where b_no=#{bno}
</update>

<select id="selectBoardReplyList" resultMap="BoardReplyResultSet">
	select *
	from b_reply
	where b_no=#{brno} and isdelete='N'
	order by brno desc
</select>

<insert id="insertBoardReply">
	insert into b_reply
	values(seq_b_reply, #{bno}, #{content}, sysdate, default)
</insert>

<insert id="insertBoardLike" parameterType="HashMap"> 
insert into b_like values(#{bno}, #{mno})
</insert>

<update id="blikeCheckUp"> 
update board set likeCount = likeCount+1 where isdelete='N' 
</update>

<select id="selectBoardLikeCnt" resultType="_int"> 
select count(*) from b_like where b_no=#{bno} 
</select>

<select id="selectBoardLikeCheck" resultType="_int"> 
select count(*) from b_like where b_no=#{bno} and m_no=#{mno} 
</select>

<update id="blikeCheckDown"> 
update board 
set likeCount = likeCount-1 
where isdelete='N' 
</update>

<delete id="deleteBoardLike" parameterType="HashMap"> 
delete from b_like where m_no=#{mno} and b_no=#{bno} 
</delete>


</mapper>
