<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">

<resultMap type="Board" id="boardResultSet">
		<id property="bno" column="b_no"/>
		
		<result property="mno" column="m_no"/>
		<result property="title" column="title"/>
		<result property="content" column="content"/>
		<result property="count" column="count"/>
		<result property="enrollDate" column="enroll_date"/>
		<result property="updateDate" column="update_date"/>
		<result property="isDelete" column="isdelete"/>
		<result property="likeCount" column="like_count"/>
	</resultMap>

<resultMap type="FashionBoard" id="fashionBoardResultSet">
	<id property="fbno" column="fb_no"/>
	
	<result property="mno" column="m_no"/>
	<result property="title" column="title"/>
	<result property="content" column="content"/>
	<result property="count" column="count"/>
	<result property="enrollDate" column="enroll_date"/>
	<result property="updateDate" column="update_date"/>
	<result property="isDelete" column="isdelete"/>
</resultMap>

<resultMap type="BoardReply" id="BoardReplyResultSet">
	<id property="brno" column="br_no"/>
	
	<result property="bno" column="b_no"/>
	<result property="content" column="content"/>
	<result property="count" column="count"/>
	<result property="enrollDate" column="enroll_date"/>
	<result property="isDelete" column="isdelete"/>
</resultMap>

<select id="selectList" resultMap="boardResultSet">
	select *
	from board
	order by b_no desc
</select>

<select id="fashionSelectList" resultMap="fashionBoardResultSet">
	select * from fashion_board order by fb_no desc
</select>

<select id="getListCount" resultType="_int">
	select count(*)
	from board
	where isdelete='N'
</select>


</mapper>
