<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

	<resultMap id="memberResultSet" type="Member">
		<id property="mno" column="m_no"></id>
		<result property="loginType" column="logintype"/>
		<result property="snsId" column="snsid"/>
		<result property="email" column="email"/>
		<result property="pass" column="pass"/>
		<result property="nickName" column="nickname"/>
		<result property="profile" column="profile"/>
		<result property="location" column="location"/>
		<result property="originalImg" column="original_img"/>
		<result property="renameImg" column="rename_img"/>
		<result property="profilePath" column="profile_path"/>
		<result property="enrollDate" column="enroll_date"/>
		<result property="updateDate" column="update_date"/>
		<result property="deleteDate" column="delete_date"/>
		<result property="isDelete" column="isdelete"/>
	</resultMap>
	
	<select id="loginMember" resultMap="memberResultSet">
	<!-- 암호화
		select *
		from member
		where email=#{email} and isdelete='N'
	-->
		select *
		from member
		where email=#{email} and pass=#{pass} and isdelete='N'
	
	</select>
	
	<insert id="insertMember">
		insert into member
		values(seq_member.nextval, default, null, #{email}, #{pass}, #{nickName}, 
				null, null, default, null, null, sysdate, null, null, default)
	</insert>
	
	<select id="joinCheckEmail" resultType="_int">
		select count(*)
		from member
		where email=#{email}
	</select>
	
	<select id="joinCheckNickName" resultType="_int">
		select count(*)
		from member
		where nickname=#{nickName}
	</select>
	
	<select id="getMember" resultMap="memberResultSet">
		select * 
		from member
		where email=#{email}
	</select>
	






</mapper>