<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mypageMapper">

	<resultMap id="memberResultSet" type="Member">
		<id property="mno" column="m_no"/>
		<result property="loginType" column="logintype"/>
		<result property="snsId" column="snsid"/>
		<result property="email" column="email"/>
		<result property="pass" column="pass"/>
		<result property="nickName" column="nickname"/>
		<result property="profile" column="profile"/>
		<result property="location" column="location"/>
		<result property="originalImg" column="original_img"/>
		<result property="renameImg" column="rename_img"/>
		<result property="profilePath" column="profile_path"/>
		<result property="enrollDate" column="enroll_date"/>
		<result property="updateDate" column="update_date"/>
		<result property="isDelete" column="isdelete"/>
		
		<result property="posCount" column="posCount"/>
		<result property="fanCount" column="fanCount"/>
		<result property="fwCount" column="fwCount"/>
		
		<result property="likeCount" column="likeCount"/>
		<result property="replyCount" column="replyCount"/>
	</resultMap>
	
	<resultMap id="postingResultSet" type="Posting">
		<id property="pno" column="p_no"/>
		<result property="mno" column="m_no"/>
		<result property="originalImg" column="original_img"/>
		<result property="renameImg" column="rename_img"/>
		<result property="imgPath" column="img_path"/>
		<result property="content" column="content"/>
		<result property="hashtag" column="hashtag"/>
		<result property="gender" column="gender"/>
		<result property="location" column="location"/>
		<result property="likeCount" column="like_count"/>
		<result property="declareCount" column="declare_count"/>
		<result property="enrollDate" column="enroll_date"/>
		<result property="updateDate" column="update_date"/>
		<result property="isDelete" column="isdelete"/>
	</resultMap>
	
	<resultMap id="adResultSet" type="Ad">
		<id property="adNo" column="ad_no"/>
		<result property="mno" column="m_no"/>
		<result property="payNo" column="pay_no"/>
		<result property="name" column="name"/>
		<result property="url" column="url"/>
		<result property="originalImg" column="original_img"/>
		<result property="renameImg" column="rename_img"/>
		<result property="imgPath" column="img_path"/>
		<result property="enrollDate" column="enroll_date"/>
		<result property="startDate" column="start_date"/>
		<result property="endDate" column="end_date"/>
		<result property="status" column="status"/>
	</resultMap>
	
	<resultMap id="alarmResultSet" type="Alarm">
		<id property="alno" column="al_no"/>
		<result property="tno" column="t_no"/>
		<result property="mno" column="m_no"/>
		<result property="enrollDate" column="enroll_date"/>
		<result property="status" column="status"/>
		<result property="type" column="type"/>
		
		<result property="alarmCount" column="alarmCount"/>
	</resultMap>
	
	<select id="selectProfile" resultMap="memberResultSet">
		select m.*, (select count(*) from posting p where m.m_no=p.m_no)posCount, (select count(*) from fan f where f.me_no=m.m_no)fanCount,
			(select count(*) from fan f where f.you_no=m.m_no)fwCount
		from member m
		where m_no=#{mno}
	</select>
	
	<select id="selectPostingList" resultMap="postingResultSet">
		select p.*, (select count(*) from p_like l where l.p_no=p.p_no)likeCount, 
					(select count(*) from p_reply r where r.p_no=p.p_no)replyCount
		from posting p
		where m_no=#{mno}
	</select>
	
	<select id="selectLikeList" resultMap="postingResultSet">
		select p.*, (select count(*) from p_like l where l.p_no=p.p_no)likeCount, 
					(select count(*) from p_reply r where r.p_no=p.p_no)replyCount
		from posting p
		left join p_like l on(l.p_no=p.p_no)
		where l.m_no=#{mno}
	</select>
	
	<select id="selectFanList" resultMap="memberResultSet">
		select m.*, (select count(*) from posting p where m.m_no=p.m_no)posCount, (select count(*) from p_like l where m.m_no=l.m_no)likeCount,
            (select count(*) from p_reply r left join posting p on(p.p_no=r.p_no) where p.p_no=r.p_no)replyCount
		from member m
		left join fan f on(m.m_no=f.you_no)
		where f.me_no=#{mno}
	</select>
	
	<select id="selectFwList" resultMap="memberResultSet">
		select m.*, (select count(*) from posting p where m.m_no=p.m_no)posCount, (select count(*) from p_like l where m.m_no=l.m_no)likeCount,
            (select count(*) from p_reply r left join posting p on(p.p_no=r.p_no) where p.p_no=r.p_no)replyCount
		from member m
		left join fan f on(m.m_no=f.me_no)
		where f.you_no=#{mno}
	</select>
	
	<update id="updateProfile">
		update member
		set nickname=#{nickName}, profile=#{profile}, location=#{location}, profile_img=#{profileImg}, profile_path=#{profilePath}
		where m_no=#{mno}
	</update>
	
	<select id="getAdListCount" resultType="_int">
		select count(*)
		from ad
		where m_no=#{mno}
	</select>
	
	<select id="selectAdList" resultMap="adResultSet">
		select *
		from ad
		where m_no=#{mno}
		order by enroll_date desc
	</select>
	
	<update id="updatePass">
		update member
		set pass=#{pass}
		where m_no=#{mno}
	</update>
	
	<update id="deleteMember">
		update member
		set isdelete='Y'
		where m_no=#{mno}
	</update>
	
	<select id="selectAlarmCount" resultType="_int">
		select count(*) 
		from alarm 
		where status=1
	</select>
	
	<select id="selectAlarmList" resultMap="alarmResultSet">
		select *
		from alarm
		where status=1 and m_no=#{mno}
	</select>

</mapper>
