<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mypageMapper">

	<resultMap id="memberResultSet" type="Member">
		<id property="mno" column="m_no"/>
		<result property="loginType" column="logintype"/>
		<result property="snsId" column="snsid"/>
		<result property="email" column="email"/>
		<result property="pass" column="pass"/>
		<result property="nickName" column="nickname"/>
		<result property="profile" column="profile"/>
		<result property="location" column="location"/>
		<result property="originalImg" column="original_img"/>
		<result property="renameImg" column="rename_img"/>
		<result property="profilePath" column="profile_path"/>
		<result property="enrollDate" column="enroll_date"/>
		<result property="updateDate" column="update_date"/>
		<result property="isDelete" column="isdelete"/>
		
		<result property="posCount" column="posCount"/>
		<result property="fanCount" column="fanCount"/>
		<result property="fwCount" column="fwCount"/>
		
		<result property="likeCount" column="likeCount"/>
		<result property="replyCount" column="replyCount"/>
		
		<result property="fanCheck" column="fanCheck"/>
	</resultMap>
	
	<resultMap id="postingResultSet" type="Posting">
		<id property="pno" column="p_no"/>
		<result property="mno" column="m_no"/>
		<result property="originalImg" column="original_img"/>
		<result property="renameImg" column="rename_img"/>
		<result property="imgPath" column="img_path"/>
		<result property="content" column="content"/>
		<result property="hashtag" column="hashtag"/>
		<result property="gender" column="gender"/>
		<result property="location" column="location"/>
		<result property="likeCount" column="like_count"/>
		<result property="declareCount" column="declare_count"/>
		<result property="enrollDate" column="enroll_date"/>
		<result property="updateDate" column="update_date"/>
		<result property="isDelete" column="isdelete"/>
		<result property="brand" column="brand"/>
	</resultMap>
	
	<resultMap id="styleResultSet" type="Style">
		<id property="sno" column="s_no"/>
		<result property="pno" column="p_no"/>
		<result property="cate" column="cate"/>
		<result property="brand" column="brand"/>
		<result property="color" column="color"/>
	</resultMap>
	
	<resultMap id="adResultSet" type="Ad">
		<id property="adno" column="ad_no"/>
		<result property="mno" column="m_no"/>
		<result property="payno" column="pay_no"/>
		<result property="name" column="name"/>
		<result property="url" column="url"/>
		<result property="originalImg" column="original_img"/>
		<result property="renameImg" column="rename_img"/>
		<result property="imgPath" column="img_path"/>
		<result property="enrollDate" column="enroll_date"/>
		<result property="startDate" column="start_date"/>
		<result property="endDate" column="end_date"/>
		<result property="status" column="status"/>
	</resultMap>
	
	<resultMap id="alarmResultSet" type="Alarm">
		<id property="alno" column="al_no"/>
		<result property="tno" column="t_no"/>
		<result property="mno" column="m_no"/>
		<result property="enrollDate" column="enroll_date"/>
		<result property="status" column="status"/>
		<result property="type" column="type"/>
		<result property="bmno" column="b_m_no"/>
		
		<result property="alarmCount" column="alarmCount"/>
	</resultMap>
	
	<resultMap id="hashResultSet" type="Hash">
		<id property="hano" column="ha_no"/>
		<result property="pno" column="p_no"/>
		<result property="hashtag" column="hashtag"/>
	</resultMap>
	
	<select id="selectProfile" resultMap="memberResultSet">
		select m.*, (select count(*) from posting p where m.m_no=p.m_no)posCount, (select count(*) from fan f where f.me_no=m.m_no)fanCount,
			(select count(*) from fan f where f.you_no=m.m_no)fwCount
		from member m
		where m_no=#{mno}
	</select>
	
	<select id="selectPostingList" resultMap="postingResultSet">
		select p.*, (select count(*) from p_reply r where r.p_no=p.p_no)replyCount
		from posting p
		where m_no=#{mno}
		order by p.enroll_date desc
	</select>
	
	<select id="selectLikeList" resultMap="postingResultSet">
		select p.*, (select count(*) from p_reply r where r.p_no=p.p_no)replyCount
		from posting p
		left join p_like l on(l.p_no=p.p_no)
		where l.m_no=#{mno}
		order by p.enroll_date desc
	</select>
	
	<select id="selectFanList" resultMap="memberResultSet">
		select m.*, (select count(*) from posting p where m.m_no=p.m_no)posCount, (select count(*) from p_like l where m.m_no=l.m_no)likeCount,
            (select count(*) from p_reply r left join posting p on(p.p_no=r.p_no) where p.p_no=r.p_no and r.m_no=m.m_no)replyCount,
            (select count(*) from fan where me_no=f.you_no and you_no=#{loginMno})fanCheck
		from member m
		left join fan f on(m.m_no=f.you_no)
		where f.me_no=#{mno}
		order by f.enroll_date desc
	</select>
	
	<select id="selectFwList" resultMap="memberResultSet">
		select m.*, (select count(*) from posting p where m.m_no=p.m_no)posCount, (select count(*) from p_like l where m.m_no=l.m_no)likeCount,
            (select count(*) from p_reply r left join posting p on(p.p_no=r.p_no) where p.p_no=r.p_no and r.m_no=m.m_no)replyCount,
            (select count(*) from fan where me_no=f.me_no and you_no=#{loginMno})fanCheck
		from member m
		left join fan f on(m.m_no=f.me_no)
		where f.you_no=#{mno}
		order by f.enroll_date desc
	</select>
	
	<update id="updateProfileImg">
		update member
		set original_img=#{originalImg}, rename_img=#{renameImg}, update_date=sysdate
		where m_no=#{mno}
	</update>
	
	<update id="updateProfile">
		update member
		set nickname=#{nickName}, profile=#{profile}, location=#{location}, update_date=sysdate
		where m_no=#{mno}
	</update>
	
	<select id="getAdListCount" resultType="_int">
		select count(*)
		from ad
		where m_no=#{mno}
	</select>
	
	<select id="selectAdList" resultMap="adResultSet">
		select *
		from ad
		where m_no=#{mno}
		order by enroll_date desc
	</select>
	
	<update id="updatePass">
		update member
		set pass=#{pass}, update_date=sysdate
		where m_no=#{mno}
	</update>
	
	<update id="deleteMember">
		update member
		set isdelete='Y', delete_date=sysdate
		where m_no=#{mno}
	</update>
	
	<select id="selectAlarmCount" resultType="_int">
		select count(*) 
		from alarm 
		where status=1
	</select>
	
	<select id="selectAlarmList" resultMap="alarmResultSet">
		select a.*, (select count(*) from alarm where status=1 and m_no=#{mno})alarmCount, 
					(select nickName from member where m_no=a.b_m_no)nickName,
					(select rename_Img from member where m_no=a.b_m_no)renameImg
		from alarm a
		where status=1 and m_no=#{mno}
		order by a.enroll_date desc
	</select>
	
	<select id="selectFanCheck" resultType="_int">
		select count(*)
		from fan
		where me_no=#{meNo} and you_no=#{youNo}
	</select>
	
	<insert id="insertFan">
		insert into fan values(seq_fan.nextval, #{meNo}, #{youNo}, sysdate)
	</insert>
	
	<delete id="deleteFan">
		delete from fan where me_no=#{meNo} and you_no=#{youNo}
	</delete>
	
	<select id="selectSearchFan" resultMap="memberResultSet">
		select * 
		from member 
		where nickName like #{search} || '%'
	</select>
	
	<select id="selectSearchBrand" resultMap="styleResultSet">
		select *
		from style s
		where brand like #{search} || '%'
	</select>
	
	<select id="selectSearchHashtag" resultMap="postingResultSet">
		select * 
		from hash
		where hashtag like '#' || #{search} || '%'
	</select>
	
	<select id="selectSearchLoca" resultMap="postingResultSet">
		select * 
		from posting 
		where location like #{search} || '%'
	</select>
	
	<update id="updateAlarm">
		update alarm
		set status=2
		where m_no=#{mno}
	</update>
	
	<update id="updateAlarmOne">
		update alarm
		set status=2
		where al_no=#{alno}
	</update>
	
	<select id="nickNameCheck" resultType="_int">
		select count(*)
		from member
		where nickname=#{nickName}
	</select>
	
	<delete id="deleteAd">
		delete from ad
		where ad_no=#{adno}
	</delete>
	
	<update id="deletePay">
		update pay
		set status='2'
		where pay_no=#{payno}
	</update>

</mapper>
