<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="postingMapper">
	
	<resultMap id="postingOneResultSet" type="Posting">
		<id property="pno" column="p_no"/>
		<result property="mno" column="m_no"/>
		<result property="originalImg" column="original_img"/>
		<result property="renameImg" column="rename_img"/>
		<result property="imgPath" column="img_path"/>
		<result property="content" column="content"/>
		<result property="hashtag" column="hashtag"/>
		<result property="gender" column="gender"/>
		<result property="location" column="location"/>
		<result property="likeCount" column="like_count"/>
		<result property="declareCount" column="declare_count"/>
		<result property="enrollDate" column="enroll_date"/>
		<result property="updateDate" column="update_date"/>
		<result property="isDelete" column="isdelete"/>
	</resultMap>
	
	<resultMap id="postingReplyResultSet" type="PostingReply">
		<id property="prno" column="pr_no"/>
		<result property="pno" column="p_no"/>
		<result property="mno" column="m_no"/>
		<result property="content" column="content"/>
		<result property="enrollDate" column="enroll_date"/>
		<result property="updateDate" column="update_date"/>
		<result property="prrno" column="prr_no"/>
		<result property="level" column="r_level"/>
		<result property="likeCount" column="like_count"/>
		<result property="isDelete" column="isdelete"/>
		<result property="nickName" column="nickname"/>
		<result property="profileImg" column="profile_img"/>
	</resultMap>
	

	<insert id="insertPosting">
		insert into posting
		values(seq_posting.nextval, #{mno}, #{originalImg}, #{renameImg}, null, #{content}, #{hashtag}, #{gender},
				#{location}, default, default, sysdate, null, 'N')
	</insert>
	
	<insert id="insertStyle">
		insert into style
		values(seq_style.nextval, seq_posting.currval, #{cate}, #{brand}, #{color})
	</insert>
	
	<select id="selectOnePosting" resultMap="postingOneResultSet">
		select * 
		from posting
		where p_no=#{id}
	</select>
	
	<select id="selectReplyList" resultMap="postingReplyResultSet">
		<!-- 
		select * 
		from p_reply
		where p_no=#{pno} 
		-->
		select pr_no, p_no, m.m_no, content, r.enroll_date, r.update_date, prr_no, r_level, 
				like_count, r.isdelete, m.nickname, m.profile_img
		from p_reply r
		join member m on(r.m_no = m.m_no);
	</select>

	<insert id="insertReply">
		insert into p_reply
		values(seq_p_reply.nextval, #{pno}, #{mno}, #{content}, sysdate, null, seq_p_reply.currval,
				1, default, default)
	</insert>
	
	
	
	
	
	
	
</mapper>