<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="postingMapper">
	
	<resultMap id="postingOneResultSet" type="Posting">
		<id property="pno" column="p_no"/>
		<result property="mno" column="m_no"/>
		<result property="originalImg" column="original_img"/>
		<result property="renameImg" column="rename_img"/>
		<result property="imgPath" column="img_path"/>
		<result property="content" column="content"/>
		<result property="hashtag" column="hashtag"/>
		<result property="gender" column="gender"/>
		<result property="location" column="location"/>
		<result property="likeCount" column="like_count"/>
		<result property="declareCount" column="declare_count"/>
		<result property="enrollDate" column="enroll_date"/>
		<result property="updateDate" column="update_date"/>
		<result property="isDelete" column="isdelete"/>
		<result property="nickName" column="nickname"/>
		<result property="profile" column="profile"/>
		<result property="mlocation" column="location_1"/>
		<result property="profileImg" column="profile_img"/>
		<result property="loginLike" column="loginLike"/>
		<result property="loginDeclare" column="loginDeclare"/>
		<result property="replyCount" column="replyCount"/>
		<result property="fanCheck" column="fanCheck"/>
	</resultMap>
	
	<resultMap id="postingReplyResultSet" type="PostingReply">
		<id property="prno" column="pr_no"/>
		<result property="pno" column="p_no"/>
		<result property="mno" column="m_no"/>
		<result property="content" column="content"/>
		<result property="enrollDate" column="enroll_date"/>
		<result property="updateDate" column="update_date"/>
		<result property="prrno" column="prr_no"/>
		<result property="level" column="r_level"/>
		<result property="likeCount" column="like_count"/>
		<result property="isDelete" column="isdelete"/>
		<result property="nickName" column="nickname"/>
		<result property="profileImg" column="profile_img"/>
	</resultMap>
	
	<resultMap type="Style" id="styleResultSet">
		<id property="sno" column="s_no"/>
		<result property="pno" column="p_no"/>
		<result property="cate" column="cate"/>
		<result property="brand" column="brand"/>
		<result property="color" column="color"/>
		<result property="name" column="name"/>
		<result property="img" column="img"/>
	</resultMap>

	<insert id="insertPosting">
		insert into posting
		values(seq_posting.nextval, #{mno}, #{originalImg}, #{renameImg}, null, #{content}, #{hashtag}, #{gender},
				#{location}, default, default, sysdate, null, 'N')
	</insert>
	
	<insert id="insertStyle">
		insert into style
		values(seq_style.nextval, seq_posting.currval, #{cate}, #{brand}, #{color})
	</insert>
	
	<select id="selectOnePosting" resultMap="postingOneResultSet" parameterType="HashMap">
		<!-- 
		select * 
		from posting
		where p_no=#{id} 
		-->
		select p_no, p.m_no, p.original_img, p.rename_img, img_path, content, hashtag, gender, p.location,
        		like_count, declare_count, p.enroll_date, p.update_date, p.isdelete,
        		m.nickname, m.profile, m.location, m.rename_img, 
                (select count(*) from p_like where m_no=#{mno} and p_no=#{pno}) loginLike, 
                (select count(*) from declare where m_no=#{mno} and b_no=#{pno} and type=1) loginDeclare, 
                (select count(*) from p_reply where p_no=#{pno} and r_level=1) replyCount,
                (select count(*) from fan where me_no=p.m_no and you_no=#{mno}) fanCheck 
		from posting p
		join member m on(p.m_no=m.m_no)
		where p_no=#{pno}
	</select>
	
	<select id="selectReplyList" resultMap="postingReplyResultSet">
		select pr_no, p_no, m.m_no, content, r.enroll_date, r.update_date, prr_no, r_level, 
				like_count, r.isdelete, m.nickname, m.rename_img
		from p_reply r
		join member m on(r.m_no = m.m_no)
        where r.isdelete='N'
		order by prr_no, r_level
	</select>

	<insert id="insertReply">
		insert into p_reply
		values(seq_p_reply.nextval, #{pno}, #{mno}, #{content}, sysdate, null, seq_p_reply.currval,
				1, default, default)
	</insert>
	
	<select id="selectStyle" resultMap="styleResultSet">
		<!-- select * 
		from style
		where p_no=#{id} -->
		select s_no, s.p_no, s.cate, brand, color, 
       			(select name from category c where s.cate=c.ca_no)name,
        		(select img from category c where s.cate=c.ca_no)img
		from style s
		where p_no=#{id}
	</select>
	
	<!-- 대댓글 -->
	<insert id="insertReReply">
		insert into p_reply
		values(seq_p_reply.nextval, #{pno}, #{mno}, #{content}, sysdate, null, #{prno},
				2, default, default)
	</insert>
	
	<!-- 좋아요 -->
	<insert id="insertPostingLike" parameterType="HashMap">
		insert into p_like
		values(#{mno},#{pno})
	</insert>
	
	<delete id="deletePostingLike" parameterType="HashMap">
		delete from p_like
		where m_no=#{mno} and p_no=#{pno}
	</delete>
	
	<select id="selectPLikeCount" resultType="_int">
		select count(*)
		from p_like
		where p_no=#{pno}
	</select>
	
	<select id="selectPLikeCheck" resultType="_int">
		select count(*)
		from p_like
		where p_no=#{pno} and m_no=#{mno}
	</select>
	
	<update id="increasePostingLike">
		update posting
		set like_count = like_count+1
		where isdelete='N' and p_no=#{pno}
	</update>
	
	<update id="decreasePostingLike">
		update posting
		set like_count = like_count-1
		where isdelete='N' and p_no=#{pno}
	</update>
	
	<!-- 신고 -->
	<insert id="insertPDeclare">
		insert into declare
		values(seq_declare.nextval, #{mno}, #{bno}, #{dcategory}, #{content},
				sysdate, default, 1)
	</insert>
	
	<update id="deleteReply">
		update p_reply
		set isdelete='Y'
		where prr_no=#{prno}
	</update>
	
	<update id="updateReply" parameterType="HashMap">
		update p_reply
		set content=#{content}
		where pr_no=#{prno}
	</update>
	
	
</mapper>